/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

.login {
	background-color: #FFF !important;
}

.login .content {
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
}

.login .content .form-actions {
	background-color: #f5f5f5;
}

.page-header.navbar .page-logo {
	width: 75px;
}

.page-header.navbar .page-logo .logo-default {
	margin: 3px 0 0 0;
	width: 33px;
}

.page-breadcrumb.tags li {
	color: white;
}

.page-breadcrumb.tags li.tag-item {
	margin-right: 15px;
	margin-left: 15px;
	cursor: pointer;
}

.page-breadcrumb.tags .client-name {
	font-weight: 600;
	font-size: 1.25em;
	margin-right: 45px;
}

ul.client-social-icons {
	display: table-row;
	list-style: none;
}

.form-body.client-detail .form-group .form-control-static {
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
}

.form-body.client-detail .form-group .form-control-static,
 .form-body.client-detail .form-group .form-control-static .label{
	font-size: 0.85em;
}

#taskcalendar {
	margin: 0 auto;
}
.fc-day-grid-event > .fc-content{
	white-space: normal;
}
.col-summary{
	/*margin-left: -35px;
	padding-left: 0;
    padding-right: 0;*/
    padding-left: 5px;
    padding-right: 5px;
}

.table-feeds {

}

.table-feeds .label-icon {
	display: inline-block;
	padding: 5px 4px 6px 5px;
	vertical-align: middle;
	text-align: center;
}

.table-feeds .label-icon i {
	text-align: center;
	font-size: 14px;
}
.table-feeds tr {
	background-color: #fafafa;
	margin-bottom: 7px;
}

.table-feeds tr [class^="fa-"], 
.table-feeds tr [class^="glyphicon-"], 
.table-feeds tr [class^="icon-"], 
.table-feeds tr [class*=" fa-"], 
.table-feeds tr [class*=" glyphicon-"], 
.table-feeds tr [class*=" icon-"] {
	display: inline-block;
	width: 1.25em;
	text-align: center;	
}

@media (max-width: 1199px){
    .page-header.navbar .menu-toggler.responsive-toggler {
        display: inline-block;
    }

    .page-header.navbar {
        padding: 0 20px;
    }
}

@media (max-width: 991px){
    .page-header.navbar {
        padding: 0 10px;
    }
}

.caption-mini {

}

.portlet.box > .portlet-title > .caption-mini {
	font-size: 12px;
	padding: 11px 0 9px 0;
}

.panel-yellow {
	border-color: rgb(252, 210, 2);
}
.panel-yellow > .panel-heading {
	color: #a94442;
	background-color: rgb(252, 210, 2);
	border-color: rgb(252, 210, 2);
}
.panel-yellow > .panel-body  {
	padding: 5px;
}

.panel-orange {
	border-color: rgb(255, 102, 0);
}
.panel-orange > .panel-heading {
	color: #8a6d3b;
	background-color: rgb(255, 102, 0);
	border-color: rgb(255, 102, 0);	
}
.panel-orange > .panel-body  {
	padding: 5px;
}

.panel-blue-madison {
	border-color: #578ebe;
}
.panel-blue-madison > .panel-heading {
	color: #8a6d3b;
	background-color: #578ebe;
	border-color: #578ebe;
}
.panel-blue-madison > .panel-body {
	padding: 5px;
}

.panel-purple-plum {
	border-color: #8775a7;
}
.panel-purple-plum > .panel-heading {
	color: #8a6d3b;
	background-color: #8775a7;
	border-color: #8775a7;
}
.panel-purple-plum > .panel-body {
	padding: 5px;
}

.panel-red-intense {
	border-color: #e35b5a;
}
.panel-red-intense > .panel-heading {
	color: #8a6d3b;
	background-color: #e35b5a;
	border-color: #e35b5a;
}
.panel-red-intense > .panel-body {
	padding: 5px;
}

.panel-green-light {
	border-color: #59C69E;
}
.panel-green-light > .panel-heading {
	color: #8a6d3b;
	background-color: #59C69E;
	border-color: #59C69E;
}
.panel-green-light > .panel-body {
	padding: 5px;
}