/vendor/
app/storage/
wkhtmltopdf-windows/
.idea/
public/document/
public/documents/

composer.lock
composer.phar
app/config/packages/atticmedia/anvard/hybridauth.php
/one23couk/nbproject/private/

.htaccess
/public/img/company_logo/
/public/img/company_logos/