div.sendemail {
	float:right;
}

.summary-profile-pic{
	padding: 0px;
}

.summary-profile-pic .profilePic{
	margin: auto;
	width: 137px;
	height: 148px;
}

.round-50 {
  border-top-right-radius: 85px !important;
  border-top-left-radius: 85px !important;
  border-bottom-left-radius: 85px !important;
  border-bottom-right-radius: 85px !important;

  -webkit-border-top-left-radius: 85px !important;
  -webkit-border-top-right-radius: 85px !important;
  -webkit-border-bottom-right-radius: 85px !important;
  -webkit-border-bottom-left-radius: 85px !important;

  -moz-border-radius-topleft: 85px !important;
  -moz-border-radius-topright: 85px !important;
  -moz-border-radius-bottomright: 85px !important;
  -moz-border-radius-bottomleft: 85px !important;
}

.round-10 {
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;

  -webkit-border-top-left-radius: 10px !important;
  -webkit-border-top-right-radius: 10px !important;
  -webkit-border-bottom-right-radius: 10px !important;
  -webkit-border-bottom-left-radius: 10px !important;

  -moz-border-radius-topleft: 10px !important;
  -moz-border-radius-topright: 10px !important;
  -moz-border-radius-bottomright: 10px !important;
  -moz-border-radius-bottomleft: 10px !important;
}
.description p,
.description span,
.description a{
	float: left;
	width: 100%;
}
.description{
	margin-top: 5px;
}

.btnprofile{
	padding: 10px 0px;
}

.btnprofile a{
	padding: 5px 20px;
}

.description p{
	font-weight: bolder;
	text-align: center;
}

.description span{
	font-weight: bolder;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
}

.description a{
	text-align: center;
}

.profilemenu {
	margin-bottom: 0px !important;
}
.profilemenu a.client_menu{
	float: left;
	width: 100%;
	font-size: 11px !important;
	font-weight: bold;
	padding:0px;
	cursor: pointer;
	padding: 5px 10px;
	border-top: 1px solid #eeeeee;
	text-decoration: none;
}

.profilemenu a.client_menu:hover{
	background: #f1f3fa;
}

.profilemenu a.client_menu i{
	padding-right: 5px;
	margin-right: 5px !important;
}
.counter{
	float: left;
	width: 100%;
	font-weight: bold;
	font-size: 18px;
}

.counter_label{
	float: left;
	width: 100%;
	font-weight: bold;
	font-size: 10px;
}

.profile-social-links{
	list-style: none;
	padding: 0px !important;
}

.client-detail p{
	float:left;
	width: 100%;
}

.client-detail address{
	padding: 5px 15px;
	margin-bottom: 0px !important;
}

p.form-control-static:first-child{
	margin-top: 0px !important;
	padding-top: 0px !important;
}

.client-tags i{
	margin-right: 5px;
}

.client-tags a{
	font-weight: bolder;
	margin-left: 10px;
}

.client-tags span{
	margin-left: 10px;
}

div.tagsinput {
	padding: 0px !important;
}
div.tagsinput span.tag {
	border: 1px solid #a5d24a !important;
	background: #cde69c !important;
	color: #638421 !important;
	border-radius: 1px !important;
	-webkit-border-radius: 1px !important;
	-moz-border-radius: 1px !important;
	margin: 2px !important;
}

#edit-tags-inputs .select2-container{
	padding: 0px !important;
}

#edit-tags-inputs .select2-container .select2-choices{
	margin-left: 0px !important;
}
#edit-tags-inputs .select2-container .select2-choices .select2-search-choice a{
	left: 1px !important;
}
#edit-tags-inputs .select2-container .select2-choices .select2-search-choice div{
	margin-left: 5px !important;
}
#edit-tags-inputs .select2-container .select2-choices .select2-search-choice{
	border: 1px solid #a5d24a !important;
	background: #cde69c !important;
	color: #638421 !important;
	border-radius: 1px !important;
	-webkit-border-radius: 1px !important;
	-moz-border-radius: 1px !important;
	margin: 2px !important;
}

#client-profile-tags-list {

}

.hide-in{
	height: 0px !important;
	display:none;
}

#gmap_geocoding{
	width: 100%;
}

#tasklistview ul{
	list-style: none;
	padding:0px;
}

#tasklistview ul li{
	border-bottom: 1px solid #dddddd;
	padding: 4px 3px;
}

.taskto{
	float: left;
	width: 100%;
	height: 25px;
}

#client-tags-dis{
	margin-top:15px;
}

#twitter ul.feeds blockquote.twitter-tweet{
	width: 100% !important;
	font-size: 12px !important;
}

#twitter p.e-entry-title{
	font-size: 12px;
}

.feeds li .col1{
	width: 70% !important;
}

.feeds li .col2 {
	float: left;
	width: 30% !important;
	margin-left: 0px !important;
}
.feeds li .col2 > .date {
	padding: 4px !important;
	text-align: right;
	font-style: italic;
	color: #c1cbd0;
}
