.section-element {
    margin-bottom: 10px;
}

.section-element img {
    display: block;
    margin: 0 auto;
    z-index: 10;
}

.selector-background {
    background-color: #222528;
    padding: 15px;
    min-height: 1100px;
    /*max-height: 1024px;*/
    /*overflow-y: scroll;*/
}

.canvas {
    height: 1024px;
    width: 770px;
    margin: 0 auto;
    background-color: #efefef;
    z-index: 2;
    overflow: scroll;
}

.template-control {
    margin: 0 auto;
    width: 770px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.label-container {
    padding-top: 5px;
}

#template-name {
    width: 300px;
}

.section-container {
    position: relative;
}

.close-button-container {
    position: absolute;
    top: 30px;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #C2C1C1;
    opacity: 0.5;
}

.copy-button-container {
    position: absolute;
    top: 20px;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: #C2C1C1;
    opacity: 0.5;
}

.move-button-container {
    position: absolute;
    top: 70px;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: #C2C1C1;
    opacity: 0.5;
}

.remove-section, .copy-section, .move-section {
    font-size: 24px !important;
    margin: 0 auto;
    color: #5A5A5A;
    padding-top: 12px;
    padding-left: 15px;
    cursor: pointer;
}

.farbtastic {
    margin: 0 auto;
}

.editor-label {
    color: #7B7B7B;
    font-size: 12px;
}

.m-top-15 {
    margin-top: 15px;
}

#template-creator .panel {
    background-color: transparent;
    border-width: 0;
}

#template-creator .panel-heading {
    background-color: transparent;
}

#template-creator .panel-body {
    border-width: 0;
}

#template-creator .panel-title {
    color: #ACACAC;
    font-weight: 500;
}

#template-creator .panel-title a:focus {
    text-decoration: none;
}

.popover {
    background-color: transparent;
}

.popover-content {
    background-color: #1B2024;
    border-radius: 4px !important;
    color: #FFFFFF;
    padding: 15px;
}

.popover.bottom > .arrow:after {
    border-bottom-color: #1B2024;
}

.popover-icon {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px !important;
    cursor: pointer;
}

.url{
    background-color: #1B2024;
    border-width: 0;
}

.url-input {
    display: none;
}

.change-photo {
    cursor: pointer;
}

.tool-box-input {
    border-radius: 3px !important;
    background-color: #7A7A7A !important;
    border-width: 0 !important;
    height: 26px;
}

.section-display-image {
    margin-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
}

.panel-group {
    margin-bottom: 0;
}

.colorpicker-container {
    margin-top: 15px;
}

.layout-name {
    font-size: 14px;
}

#image-cropper-preview {
    display: none;
}

.image-dimension {
    color: #ACACAC;
    margin-left: 10px;
    margin-right: 10px;
}

.center-align {
    margin: 0 auto;
}

#image-cropper .modal-body {
    text-align: center;
}

#image-cropper-preview {
    width: 565px;
    height: auto;
}

.control-item {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    color: #ACACAC;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

#template-loader-container {
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    display: none;
}

#predefined {
    min-height: 840px;
}

.preview-container {
    position: relative;
}

.phone-container {
    position: absolute;
}

.phone-overlay {
    position: absolute;
    top: 100px;
    left: 36px;
    width: 320px;
    height: 527px;

}

#mobile-preview-modal .modal-dialog {
    width: 410px;
}

#mobile-preview-modal .modal-content {
    box-shadow: none;
    border: none;
    background-color: transparent;
}

#phone-content {
    width: 100%;
    height: 100%;
}

#dynamic-field td {
    border: none !important;
}
